[submodule "Taller 1"]
  path = taller-1-Gaussito 
  url = https://github.com/POO2022-01-UNALMED/taller-1-Gaussito
[submodule "Taller 2 Java"]
  path = taller-2-java-Gaussito 
  url = https://github.com/POO2022-01-UNALMED/taller-2-java-Gaussito
[submodule "Taller 2 Python"]
  path = taller-2-python-Gaussito
  url = https://github.com/POO2022-01-UNALMED/taller-2-python-Gaussito
[submodule "Taller 3 Java"]
  path = taller-3-java-Gaussito
  url = https://github.com/POO2022-01-UNALMED/taller-3-java-Gaussito
[submodule "Taller 3 Python"]
  path = taller-3-python-Gaussito
  url = https://github.com/POO2022-01-UNALMED/taller-3-python-Gaussito
[submodule "Taller 4 Java"]
  path = taller-4-java-Gaussito
  url = https://github.com/POO2022-01-UNALMED/taller-4-java-Gaussito
[submodule "Taller 4 Python"]
  path = taller-4-python-Gaussito
  url = https://github.com/POO2022-01-UNALMED/taller-4-python-Gaussito
[submodule "Taller 5 Java"]
  path = taller-5-java-Gaussito
  url = https://github.com/POO2022-01-UNALMED/taller-5-java-Gaussito
[submodule "Taller 5 Python"]
  path = taller-5-python-Gaussito
  url = https://github.com/POO2022-01-UNALMED/taller-5-python-Gaussito
[submodule "Taller 6 Java"]
  path = taller-6-java-Gaussito
  url = https://github.com/POO2022-01-UNALMED/taller-6-java-Gaussito
[submodule "Taller 7 Java"]
  path = taller-7-java-Gaussito
  url = https://github.com/POO2022-01-UNALMED/taller-7-java-Gaussito
[submodule "Taller 8 Java"]
  path = taller-8-java-Gaussito
  url = https://github.com/POO2022-01-UNALMED/taller-8-java-Gaussito
[submodule "Taller 8 Python"]
  path = taller-8-python-Gaussito
  url = https://github.com/POO2022-01-UNALMED/taller-8-python-Gaussito